---
title: CSS stylesheet
---
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url('{{ site.baseurl }}/fonts/Lato/Lato-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('{{ site.baseurl }}/fonts/Lato/Lato-Regular.ttf')
  format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url('{{ site.baseurl }}/fonts/Lato/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'vollkorn';
  font-style: bold;
  font-weight: 700;
  src: local('Vollkorn Bold'), local('Vollkorn-Bold'), url('{{ site.baseurl }}/fonts/Vollkorn/Vollkorn-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'vollkorn';
  font-style: normal;
  font-weight: 400;
  src: local('Vollkorn Regular'), local('Vollkorn-Regular'), url('{{ site.baseurl }}/fonts/Vollkorn/Vollkorn-Regular.ttf') format('truetype');
}


* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  position: relative;
  background-color: #f9f9f9;
  font: 18px/26px 'vollkorn', Georgia, serif;
  font-weight: lighter;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}

h1 {
  margin-bottom: 1em;
  font-size: 38px;
}

h2 {
  font-weight: bold;
  padding: 20px 0;        /* Size of fixed header */
}

p { margin: 1em 0; }

li {
  margin-left: 20px;
}

img {
  width: 100%;
}

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

small {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.header {
  background-image: url('{{ site.baseurl }}/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  margin-bottom: 70px;
  width: 100%;
  position: relative;
}

.tagline {
  position: absolute;
  top: 100px;
  left: 200px;
  color: white;
  font-weight: light;
}

.tagline h1 {
  font-size: 72px;
}

.as-info {

  font-family: 'Lato' 'Helvetica Neue';
  padding: 20px;

}
.as-info p {
  font-size: 14px;
  line-height: 20px;
}

.as-sidebar {
  margin-top: 20px;
}

.as-sidebar a,  .as-sidebar a:visited {
  color: rgb(120, 120, 120);
}
.content .as-sidebar a:hover {
  color: rgb(20, 20, 20);
  border-left: 2px solid rgb(32, 180, 180);
  background-color: inherit;
  padding-left: 13px;

}
.as-sidebar li.active a {
  color: rgb(20, 20, 20);
  border-left: 3px solid rgb(32, 180, 180);
  padding-left: 12px;
}

.affix {
  top: 0;
}



/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
