<div id="acai-messages" style="height: 300px"></div>
<small>At the beginning, ACAI sent more broadcast messages which is why you see the spike in messages toward the beginning. Later, they found it more useful to send messages to smaller groups and on an individual basis</small>
<hr />
<div id="unhcr-messages" style="height: 300px"></div>
<small>UNHCR setup a weekly messaging program to send broad cast messages to their contacts. This is why there is a steady stream of messages throughout the pilot. The dip is due to holidays in Costa Rica.</small>

<script>
  var data = [
    {
      name: 'Messages Sent',
      data: {
        "2014-04-25 00:00:00 -0800": 1651,
        "2014-05-02 00:00:00 -0800": 264,
        "2014-05-09 00:00:00 -0800": 0,
        "2014-05-16 00:00:00 -0800": 773,
        "2014-05-23 00:00:00 -0800": 23,
        "2014-05-30 00:00:00 -0800": 81,
        "2014-06-06 00:00:00 -0800": 0,
        "2014-06-20 00:00:00 -0800": 34,
        "2014-07-03 00:00:00 -0800": 19,
      }
    },
    {
      name: 'Persons Participating',
      data: {
        "2014-04-25 00:00:00 -0800": 692,
        "2014-05-02 00:00:00 -0800": 703,
        "2014-05-09 00:00:00 -0800": 703,
        "2014-05-16 00:00:00 -0800": 726,
        "2014-05-23 00:00:00 -0800": 733,
        "2014-05-30 00:00:00 -0800": 752,
        "2014-06-06 00:00:00 -0800": 752,
        "2014-06-20 00:00:00 -0800": 753,
        "2014-07-03 00:00:00 -0800": 753,
      }
    }
    ]
  var dataUNHCR = [
    {
      name: 'Messages Sent',
      data: {
        "2014-05-15 00:00:00 -0800": 689,
        "2014-05-30 00:00:00 -0800": 680,
        "2014-06-13 00:00:00 -0800": 672,
        "2014-06-28 00:00:00 -0800": 671,
        "2014-07-11 00:00:00 -0800": 106,
        "2014-07-31 00:00:00 -0800": 741,
      }
    },
    {
      name: 'Persons Participating',
      data: {
        "2014-05-15 00:00:00 -0800": 670,
        "2014-05-30 00:00:00 -0800": 670,
        "2014-06-13 00:00:00 -0800": 670,
        "2014-06-28 00:00:00 -0800": 670,
        "2014-07-11 00:00:00 -0800": 670,
        "2014-07-31 00:00:00 -0800": 670,
      }
    }
  ];
  new Chartkick.LineChart("acai-messages", data,
    {
      library: {
        backgroundColor: '#f9f9f9',
        title: 'ACAI messages sent vs. contacts in database',
        legend: 'bottom'
      },
      adapter: 'google'

    });

  new Chartkick.LineChart("unhcr-messages", dataUNHCR,
    {
      library: {
        backgroundColor: '#f9f9f9',
        title: 'UNHCR messages sent vs. contacts in database',
        legend: 'bottom'
      },
      adapter: 'google'

    });
</script>
