<div class="contact-container row">
  <div class="contact col-sm-3">
    <div class="portrait img-circle"></div>
  </div>
  <div class="contact col-sm-4 col-xs-6">
    <p>
      Ben Rudolph<br />
      Data Visualization Consultant<br />
      rudolph@unhcr.org
    </p>
  </div>
  <div class="contact col-sm-3 col-xs-6">
    <p>
      <a href="https://github.com/benrudolph">github.com/benrudolph</a><br />
      <a href="https://twitter.com/_benrudolph">twitter.com/benrudolph</a><br />
    </p>
  </div>
</div>
