<div class="bg-info as-info">
  <b>Prototype Fidelity</b>
  <img src="{{ site.baseurl }}/images/FIDELITY.png" />
  <p>
    Above depicts a graph UNHCR Innovation thinks about often before deciding on our prototype. The x axis defines the time spent creating the prototype. The y axis defines the fidelity, or the quality of, the prototype. The two are often correlated. The more time you spend building a prototype the higher quality it will be. We have a tendency of pouring lots of time into the creation of the perfect prototype. However, this can be detrimental to the success of the project. At the beginning it's important to invest less time in the prototype so that we can iterate quickly. This is where the philosophy of "fail fast" originates.
  </p>
  <p>
    For Ascend, using FrontlineCloud was a relatively low fidelity, low time prototype. It can be setup and mastered within a week. The tradeoff was a tool that was not exactly our vision for a UNHCR SMS platform.
  </p>
</div>
