<div class="bg-info as-info">
  <b>Interviews vs. Focus Groups</b>
  <p>
    Deciding between interviewing a user or creating a focus group can be tricky, both have their pros and cons. For me, I often choose to go with interviews when I'm looking to gain a deeper understanding of an issue. With one-on-one contact, I'm able to dig deeper and questions that may be sensitive to talk about in a group setting. One technique I use often is called "the five whys." This technique requires you to ask why to an answer five times before going on to a different topic. This has been highly effective at uncovering the root causes of deep issues.
  </p>
  <p>

    Focus groups are great when you want to get advice on a topic. With everyone in the room, brainstorming can happen much more freely. Your responsibility is only to facilitate the conversation which allows you to focus on the ideas and conversation that is taking place.
  </p>
</div>
