<div class="sms-carousel">
  <div>
    <div class="message">
      Apertura de tres grupos del curso de manipulación de alimentos para el II semestre del 2014. Requisito: Permiso laboral al día. Para matricularse llame a ACAI al 1234-5678. Cupo limitado.
    </div>
    <div class="message-translation">
      Opening of three groups for the Food Handling course for the 2nd Semester 2014. Requirement: updated work permit. To get enrolled, call ACAI 1234-5678. Limited number of participants
    </div>
  </div>
  <div>
    <div class="message">
      Feria de empleo II semestre 2014: Para participar comuníquese a ACAI y pida su cita de actualización de curriculum. Requisito: permiso laboral vigente. Fecha límite: 10 de agosto.
    </div>
    <div class="message-translation">
      Job Fair 2nd Semester 2014: To participate, call ACAI and ask for an appointment to create your CV. Requirement: Updated work permit. Deadline: August 10th
    </div>
  </div>
  <div>
    <div class="message">
      Hola le saludamos de APRODE para informarle que ya están listos los certificados de manipulación, Puede pasar por el suyo. Este # de tel. es solo para msj de texto.
    </div>
    <div class="message-translation">
      Greetings from APRODE. We inform you that your diploma of the Food Handling course is ready. You can come to pick it in our office. This phone number is only for SMS communication.
    </div>
  </div>
  <div>
    <div class="message">
      Buen día les desea APRODE. Por este medio se le solicita enviarnos fotografías de su negocio con buena resolución al correo info@xxxxx.org Esto con el fin de brindar un mejor servicio. Para más detalle llamar al 1234-5678.
    </div>
    <div class="message-translation">
      Greetings from APRODE. Can you please send us good high resolution photos of your business to info@xxxxx.org in order to offer you a better service. Further information at 1234-5678.
    </div>
  </div>
  <div>
    <div class="message">
      ¿Es refugiado (a) con mas de 3 años de vivir en el país y tiene interés en ser residente? Llámenos al 123-4567890 y le daremos cita para guiarle en el proceso.
    </div>
    <div class="message-translation">
      Are you a refugee living in Costa Rica for more than 3 years and interested in becoming permanent resident? Call us 123 456 7890 and we will give you an appointment to guide you in this process
    </div>
  </div>
  <div>
    <div class="message">
      Sabias que si estas casado/a hace más de dos años con un costarricense puedes solicitar la naturalización. Infórmate ACNUR/ACAI 123 456 78 90.
    </div>
    <div class="message-translation">
      Did you know that if you are married with a Costa Rican for more than 2 years you can apply for the citizenship? Get informed at UNHCR/ACAI 123 456 78 90.
    </div>
  </div>
  <div>
    <div class="message">
      Sabias que si eres refugiado o solicitante, tienes los mismos derechos que un costarricense: salario minimo, vacaciones, cesantia, seguro social. Infórmate en www.mtss.go.cr
    </div>
    <div class="message-translation">
      Did you know that refugees and asylum seeker are entitled to the same labour rights as Costa Ricans: minimum wage, paid vacations and social security. Get informed at www.mtss.org
    </div>
  </div>


</div>

<script>
  $(document).ready(function(){
    $('.sms-carousel').slick({ dots: true });
  });

</script>
