<div class="bg-info as-info">
  <b>Statistical Significance</b>
  <p>
  Sampling 50 random contacts from a database does not necessarily mean that that sample reflects the breakdown of the entire database. We can use a bit of statistics to reason about how accurate it would be to assume the same breakdown for the the 670 contacts in UNHCR's database.
  </p>
  <p>
  For our sample, we calculated that with a desired confidence level of 95%, our margin of error would be 13%. In other words, we are 95% sure that the actual database will reflect our sample within a margin of error of plus or minus 13%. So with 95% assurance, there is anywhere from 234 to 302 contacts in the database that need updating.

  </p>
</div>

